// main: ../global.scss

/** ================================================
               # MEDIA
================================================ **/


.medias-wrap {
  height: 22vh;
  margin: auto;
}

.media {
  z-index: 1;
  display: flex;
  margin: auto;
  margin-left: 0; // animation
  flex-flow: wrap;
  opacity: 1;
  transition: opacity 0.4s 0.4s, margin-left 0.4s 0.4s;
  &:not(.chosen) {
    @include hide;
    opacity: 0;
    margin-left: -20px;
    transition: opacity 0.4s, transform 0.4s;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
  &__rates {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
    width: 280px;
    height: 50px;
    border-radius: 100px;
    background: $main;
  }

  &__women-rate, &__men-rate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $white;
    transition: width 0.2s;
    &::before {
    	position: absolute;
      top: calc(100% + 6px);
    	color: $black;
      font-size: 0.9rem;
    }
  }
  &__women-rate {
    border-right: 1px solid $white;
    &::before {
      content: "femmes";
      left: 10px;
    }
  }
  &__men-rate {
    border-left: 1px solid $white;
    &::before {
      content: "hommes";
      right: 10px;
    }
  }
}




/** ------------------------------------------------
                  SMALL TABLET
------------------------------------------------ **/

@media (min-width: $smallTablet) {

.media {
  &__women-rate, &__men-rate {
    &::before {
      top: inherit;
      font-size: 1.1rem;
      width: 72px;
    }
  }
  &__women-rate {
    &::before {
      left: -62px;
      text-align: right;
      transform: translateX(-20px);
    }
  }
  &__men-rate {
    &::before {
      right: -62px;
      transform: translateX(20px);
    }
  }
}

}





/** ------------------------------------------------
                      TABLET
------------------------------------------------ **/

@media (min-width: $tablet) { }




/** ------------------------------------------------
                      DESKTOP
------------------------------------------------ **/

@media (min-width: $desktop) { }
