// main: ../global.scss

/** ================================================
               # SEARCH
================================================ **/


.search {

  &.chosen &__form {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-flow: wrap;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.92);
      justify-content: center;
      align-content: flex-start;
      overflow-y: auto;
  }

  &__return { margin-top: 40px; }
  &__zone {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    margin: 20px auto 50px;
    padding: 0 10px;
  }
  &__input {
    width: 100%;
    border: 1px solid $lightgrey;
    border-radius: 4px;
    text-align: center;
    line-height: 3rem;
    padding: 0 45px;
    background-color: transparent;
    transition: border 0.2s;
    &:focus {
      border: 1px solid darken($lightgrey, 20);
      & + .search__button { opacity: 0.5; }
    }
  }
  &__button {
    position: absolute;
    right: 20px;
    width: 25px;
    height: 3rem;
    border: none;
    background-color: transparent;
    @include bg-image("../img/search.svg");
    opacity: 0.3;
    transition: opacity 0.2s;
  }

  &__form { }

  &__ranking {
  	display: flex;
    flex-flow: wrap;
  	width: 100%;
    max-width: 860px;
    padding-bottom: 60px;
    &-media {
      position: relative;
      display: flex;
    	height: 120px;
    	width: 120px;
    	margin: 0 auto;
    	padding: 10px;
      img::before {
        content: "";
        display: flex;
        background-color: $placeholder;
        border-radius: 100%;
        width: 100px;
        height: 100%;
        font-size: 0;
        cursor: pointer;
      }
      &::after {
        position: absolute;
        bottom: -5px;
        left: calc(50% - 10px);
        display: block;
        width: 20px;
        line-height: 2rem;
        text-align: center;
      }
      &--radio::after { content: "📻"; }
      &--tv::after { content: "📺"; }
    }
  }
}




/** ------------------------------------------------
                  SMALL TABLET
------------------------------------------------ **/

@media (min-width: $smallTablet) { }





/** ------------------------------------------------
                      TABLET
------------------------------------------------ **/

@media (min-width: $tablet) { }




/** ------------------------------------------------
                      DESKTOP
------------------------------------------------ **/

@media (min-width: $desktop) { }
