// main: ../global.scss

/** ================================================
               # TIMELINE
================================================ **/

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;

  &__marks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    &-current {
    	font-size: 3rem;
    	color: $lightgrey;
    }
  }

  &__range {
    appearance: none;
    width: 100%;
    height: 8px;
    margin-top: 10px;
    background: $lightgrey;
    border-radius: 10px;
    outline: none;
    @mixin slider-thumb {
      appearance: none;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 100%;
      background: #000;
      cursor: pointer;
    }
    &::-webkit-slider-thumb { @include slider-thumb }
    &::-moz-range-thumb { @include slider-thumb }
    &::-ms-thumb { @include slider-thumb }
  }
}




/** ------------------------------------------------
                  SMALL TABLET
------------------------------------------------ **/

@media (min-width: $smallTablet) { }





/** ------------------------------------------------
                      TABLET
------------------------------------------------ **/

@media (min-width: $tablet) { }




/** ------------------------------------------------
                      DESKTOP
------------------------------------------------ **/

@media (min-width: $desktop) { }
