// main: ../global.scss

/** ================================================
               # BREAKPOINTS
================================================ **/


$desktop     : 1024px;
$tablet      : 768px;
$smallTablet : 480px;
