// main: ../global.scss

/** ================================================
               # COLORS
================================================ **/


$main   : #181854;
$pop    : #f4a813;
$black  : #040f0c;
$white  : #fff;
