// main: ../global.scss

/** ================================================
               # COLORS
================================================ **/


$main      : #5caeff;
$black     : #040f0c;
$white     : #fff;
$lightgrey : #d3d3d3;
