// main: ../global.scss

/** ================================================
               # TYPOS
================================================ **/


$font-text : "Rubik", Arial, Sans-Serif;
$font-title : "Ubuntu", Arial, Sans-Serif;


* { font-family: $font-text; }

h1 {
	display: inline-block;
	margin: 0 auto;
	padding: 0 5px;
  font-family: $font-title;
	font-size: 1.8rem;
}

h2 {
  margin: 0 0 20px;
  font-family: $font-title;
	font-size: 1.4rem;
}

h3 {
	font-weight: 500;
	margin-bottom: 5px;
	& + p { margin-top: 0; }
}

strong { font-weight: 500; }

input[type="radio"] {
	@include hide;
	& + label {
		transform: opacity 0.4s;
		opacity: 0.4;
		cursor: pointer;
	}
	&:checked + label {
		opacity: 1;
		cursor: default;
	}
}
