// main: ../global.scss

/** ================================================
               # TYPOS
================================================ **/


$font-text : "Rubik", Arial, Sans-Serif;
$font-title : "Ubuntu", Arial, Sans-Serif;


h1 {
	display: inline-block;
	margin: 0 auto;
	padding: 5px 40px 5px 12px;
  font-family: $font-title;
	font-size: 1.8rem;
	color: $white;
	background: $main;
}

h2 {
  margin: 0 0 20px;
  font-family: $font-title;
	font-size: 1.4rem;
  color: $main;
}

h3 {
	font-weight: 500;
	margin-bottom: 5px;
	& + p { margin-top: 0; }
}

strong { font-weight: 500; }

* { font-family: $font-text; }
